.snippetContainer {
    position: relative;
    border-radius: 0.375rem;
    overflow: hidden;
    border: 1px solid #4a5568;
  }
  
  .codeHeader {
    display: flex;
    align-items: center;
    background-color: #252526;
    padding: 0.5rem;
    border-bottom: 1px solid #4a5568;
  }
  
  .buttonContainer {
    display: flex;
    gap: 0.5rem;
  }
  
  .button {
    width: 0.75rem;
    height: 0.75rem;
    border-radius: 9999px;
  }
  
  .red { background-color: #f56565; }
  .yellow { background-color: #ecc94b; }
  .green { background-color: #48bb78; }
  
  .languageLabel {
    margin-left: 1rem;
    font-size: 0.875rem;
    color: #a0aec0;
  }
  
  .codeContainer {
    background-color: #1e1e1e;
    padding: 0.5rem;
    overflow-x: auto;
  }
  
  .copyButton {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
  }
  
  /* Prism overrides */
  :global(.token.comment),
  :global(.token.prolog),
  :global(.token.doctype),
  :global(.token.cdata) {
    color: #8292a2;
  }
  
  :global(.token.punctuation) {
    color: #f8f8f2;
  }
  
  :global(.token.namespace) {
    opacity: .7;
  }
  
  :global(.token.property),
  :global(.token.tag),
  :global(.token.constant),
  :global(.token.symbol),
  :global(.token.deleted) {
    color: #f92672;
  }
  
  :global(.token.boolean),
  :global(.token.number) {
    color: #ae81ff;
  }
  
  :global(.token.selector),
  :global(.token.attr-name),
  :global(.token.string),
  :global(.token.char),
  :global(.token.builtin),
  :global(.token.inserted) {
    color: #a6e22e;
  }
  
  :global(.token.operator),
  :global(.token.entity),
  :global(.token.url),
  :global(.language-css .token.string),
  :global(.style .token.string),
  :global(.token.variable) {
    color: #f8f8f2;
  }
  
  :global(.token.atrule),
  :global(.token.attr-value),
  :global(.token.function),
  :global(.token.class-name) {
    color: #e6db74;
  }
  
  :global(.token.keyword) {
    color: #66d9ef;
  }